/* All div */
.all{
    margin: 10px 70px;
    font-family: sans-serif;
 }
 /* first div or steps div */
 .steps{
    margin: 0 30%;
 }
 .steps h3{
 font-size: 23px;
 font-weight: 600;
 margin-left: 70px;
 }
 
 
 .steps ul li {
    color: rgb(58, 57, 57);
    font-size: 15px;
 }
 /* second div or Ask question div  */
 .question{
    text-align: center;
    -webkit-box-shadow: 17px 17px 10px -16px rgba(169, 171, 174);
    -moz-box-shadow: 17px 17px 10px -16px rgba(169, 171, 174);
    box-shadow: 17px 17px 10px -16px rgb(169, 171, 174);
    border-radius: 10px;
    margin: 7% 10% 0;
 }
 .question h3{
    font-size: 23px;
    font-weight: 600;
 }
 .question a{
    color: rgb(87, 86, 86);
    text-decoration: none;
    margin-bottom: 20px;
 }
 .question input, .question textarea{
    width: 99%;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border: 1.3px solid rgb(181, 178, 178);
    font-size: 15px;
 }
 
 
 .box{
    margin: 0 10%;
 }
 .input1{
    padding:10px 0 20px 10px;
    margin-top: 10px;
 }
 .input2{
    padding:10px 0 150px 10px;
 }
 button{
    background-color: #516cf1;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    color: aliceblue;
    text-align: left;
 }
 .btnholder{
    padding: 0 10% 0.5% 10%;
    text-align: start;
 }
 /* responsive code*/
 @media screen and (max-width: 768px) {
    .all {
        margin: 10px 15px;
    }
    .steps {
        margin: 0 10%;
    }
    .box,.btnholder {
        margin: 0 5%;
    }
    .question {
        margin: 7% 3% 0;
    }
    .steps h3, .question h3 {
        font-size: 18px;
    }
    .steps ul li, .question input, .question textarea {
        font-size: 13px;
    }
    .input2 {
        padding: 10px 0 30px 20px;
    }
    button {
        padding: 8px;
        font-size: 14px;
    }
 } 