.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.questionSection,
.answersSection,
.answerForm {
  margin-bottom: 24px;
  padding: 20px;
  /* background: #ffffff; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.questionTitle {
  font-size: 1.75rem;
  margin-bottom: 12px;
  color: var(--button-color);
  padding-top: 18px;
}

.questionDetails,
.answerDetails {
  font-size: 18px;
  padding: 18px;
  font-style: italic;
  color: var(--text-color);
}

.questionDescription,
.answerText {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.6;
}

.answersSection h5 {
  margin-bottom: 12px;
  color: var(--primary-color);
}

.answerItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  padding: 4px;
  background: #f8f9fa;
  border-radius: 8px;
}

.answerAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
}

.noAnswers {
  font-size: 1rem;
  color: var(--muted-color);
  text-align: center;
}

.answerForm h5 {
  font-size: 1.25rem;
  color: var(--secondary-color);
}

.answerInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2em;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 16px;
  border: none;
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}
.HomelinkButton{
  display: block;
  width: 20%;
  padding: 12px;
  margin-top: 16px;
  border: none;
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.linkButton:hover,
.submitButton:hover {
  background:green;
}

.answerTextarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: var(--text-color);
  margin-top: 12px;
  background: #f8f9fa;
}

.submittingMessage{
  margin-top: 12px;
  font-size: 1.8rem;
  color: #057b54;
  text-align: center;
}

.errorMessage {
  margin-top: 12px;
  font-size: 1.8rem;
  color: #e74c3c;
  text-align: center;
}

/* Inside Answer.module.css */
.fade-out {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.fade-out.hidden {
  opacity: 0;
}
.answerdescription {
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  font-size: 16px;
  width: 97%;
  margin-top: 10px;
}
/* Reactions (Like and Dislike Buttons) */
.reactions {
  display: flex;
  gap: 10px;
}

.likeButton,
.dislikeButton {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.3rem;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
    border: none;
}

.likeButton:hover:not(:disabled){
  color: #007bff; /* Blue color on hover */
}
.dislikeButton:hover:not(:disabled) {
   color: #ff4800; /* red color on hover */
}

.disabledButton {
  opacity: 0.6;
  cursor: not-allowed;
}

.likeButton:disabled,
.dislikeButton:disabled {
  cursor: not-allowed;
}
