.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.questionSection,
.answersSection,
.answerForm {
  margin-bottom: 24px;
  padding: 20px;
  /* background: #ffffff; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.questionTitle {
  font-size: 1.75rem;
  margin-bottom: 12px;
  color: var(--button-color);
  padding-top: 18px;
}

.questionDetails,
.answerDetails {
  font-size: 18px;
  padding: 18px;
  font-style: italic;
  color: var(--text-color);
}

.questionDescription,
.answerText {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.6;
}

.answersSection h5 {
  margin-bottom: 12px;
  color: var(--primary-color);
}

.answerItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  padding: 4px;
  background: #f8f9fa;
  border-radius: 8px;
}

.answerAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
}

.noAnswers {
  font-size: 1rem;
  color: var(--muted-color);
  text-align: center;
}

.answerForm h5 {
  font-size: 1.25rem;
  color: var(--secondary-color);
}

.answerInfo{
  display: flex;
  flex-direction: column;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 16px;
  border: none;
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}
.HomelinkButton{
  display: block;
  width: 20%;
  padding: 12px;
  margin-top: 16px;
  border: none;
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.linkButton:hover,
.submitButton:hover {
  background: var(--secondary-color);
}

.answerTextarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: var(--text-color);
  margin-top: 12px;
  background: #f8f9fa;
}

.submittingMessage{
  margin-top: 12px;
  font-size: 1.8rem;
  color: #057b54;
  text-align: center;
}

.errorMessage {
  margin-top: 12px;
  font-size: 1.8rem;
  color: #e74c3c;
  text-align: center;
}
