/* NotFound.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    padding: 20px; /* Add padding for smaller screens */
}

.title {
    font-size: 5rem;
    margin: 0;
    animation: bounce 1s infinite;
}

.message {
    font-size: 1.5rem;
    margin: 20px 0;
}

.link {
    font-size: 1.2rem;
    color: #fff;;
    text-decoration: none;
    border: 2px solid #ff6700;;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #ff6700;;
    color: #fff;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .title {
        font-size: 4rem; /* Smaller title for mobile */
    }

    .message {
        font-size: 1.2rem; /* Smaller message font */
    }

    .link {
        font-size: 1rem; /* Smaller link font */
        padding: 8px 16px; /* Adjust padding */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 3rem; /* Even smaller title for very small screens */
    }

    .message {
        font-size: 1rem; /* Even smaller message font */
    }

    .link {
        font-size: 0.9rem; /* Smaller link font */
        padding: 6px 12px; /* Adjust padding */
    }
}
